@model Meeting_Management.Models.Meeting_Minutes_Master_Tbl
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    span {
        color: red;
        font-weight: bold;
    }
</style>

<div class="container-fluid">

    @using (Html.BeginForm("Index", "Task", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        <div class="card mt-4">
            <div class="card-header">
                <div class="row">
                    <h5 class="card-subtitle col-6">Meeting Miniutes</h5>
                    <a class="d-flex justify-content-end col-6" style="text-decoration: none; color: black;"><i class="fa fa-edit"></i></a>
                </div>
            </div>
            <div class="card-body">
                <div class="row" id="customerType">
                    <div class="col-md-3">
                        @Html.RadioButton("PersonType", "Corporate", true, new { @class = "form-check-input", @id = "corporate" })
                        <label class="form-check-label" for="corporate">
                            Corporate
                        </label>
                    </div>

                    <div class="col-md-3">
                        @Html.RadioButton("PersonType", "Individual", false, new { @class = "form-check-input", @id = "individual" })
                        <label class="form-check-label" for="individual">
                            Individual
                        </label>
                    </div>

                </div>
                <hr />
                First Part

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3 row">
                            <label for="exampleFormControlInput1" class="col-form-label col-sm-4">Customer Name<span>*</span></label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(x => x.CustomerName, new SelectList(ViewBag.CustomerNames), "Select customer name", new { @class = "form-select form-control" })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="exampleFormControlTextarea1" class="col-form-label col-sm-4">Date</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(x => x.Date, new { @class = "form-control", type = "date" })
                            </div>
                            <label for="exampleFormControlTextarea1" class="col-form-label col-sm-2">Time</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(x => x.Time, new { @class = "form-control", type = "time" })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="exampleFormControlTextarea1" class="col-form-label col-sm-4">Meating Place<span>*</span></label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.MeetingPlace, new { @class = "form-control", type = "text" })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="exampleFormControlTextarea1" class="col-form-label col-sm-4">Attends From Client Side<span>*</span></label>
                            <div class="col-sm-8">
                                @Html.TextAreaFor(x => x.AttendsFromClientSide, new { @class = "form-control", type = "text" })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="exampleFormControlTextarea1" class="col-form-label col-sm-4">Attends From Host Side<span>*</span></label>
                            <div class="col-sm-8">
                                @Html.TextAreaFor(x => x.AttendsFromHostSide, new { @class = "form-control", type = "textarea" })
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 row">
                            <label for="exampleFormControlTextarea1" class="col-form-label col-sm-4">Meeting Agenda<span>*</span></label>
                            <div class="col-sm-8">
                                @Html.TextAreaFor(x => x.MeetingAgenda, new { @class = "form-control", type = "textarea" })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="exampleFormControlTextarea1" class="col-form-label col-sm-4">Meeting Discussion<span>*</span></label>
                            <div class="col-sm-8">
                                @Html.TextAreaFor(x => x.MeetingDiscussion, new { @class = "form-control", type = "textarea" })
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="exampleFormControlTextarea1" class="col-form-label col-sm-4">Meeting Decision<span>*</span></label>
                            <div class="col-sm-8">
                                @Html.TextAreaFor(x => x.MeetingDecision, new { @class = "form-control", type = "textarea" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div>
            @Html.Action("Details", "Task")
        </div>

        <div class="row">
            <button type="submit" value="Save Data" class="btn btn-sm col-1"><i class="fa fa-save"></i> Save</button>
            <button type="reset" class="btn btn-sm col-1"><i class="fa fa-refresh"></i> Refresh</button>
        </div>
    }
</div>
